@import "src/styles/variables";

.categorys{
  width: 100%;

  &__links{
    max-width: 570px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .link__active{
      color: $greenColor;
    }
  }
  &__link{
    color: $brownColor;
    font-size: 16px;
    font-weight: 400;
  }
  &__select{
    position: relative;
    appearance: none;
    width: 329px;
    height: 48px;
    max-width: 100%;
    border-radius: $borderRaduisSmall;
    padding: 0 18px;
    border: 1px solid #f3d1bf;
    background: url("./../../../assets/icons/Triangle.svg") no-repeat right;
    background-color: $whiteColor;
    background-position-x: calc(100% - 13px);
  }
}

.select__container{
  text-align: center;
}