//
$purpleColor : #28293e;
$wheatMediumColor : #fdf0e9;
$wheatLightColor : #ffffff;
$wheatLowColor : #b1b2b9;
$brownColor : #806354;
$whiteColor : #ffffff;
$orageColor : #ee6d57;

//
$smallDevicesEndpoint : 1040px;
//
$fontFamilyMain : 'Epilogue', sans-serif;
//
$containerWidth : 1440px



