@import "src/styles/variables";

.main-content {
  &__container {
    padding: 85px 0;
    width: $containerWidth;
    max-width: 95%;
    margin: 0 auto;

    .main-content__grid{
      padding-top: 75px;
    }
  }
  background-color: $wheatMediumColor;
}